{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {
            "modules": "commonjs"
          },
          "targets-webpack-plugin": {
            "browsers": ["last 2 versions", "chrome >= 39"],
            "node": true
          },
          "styled-jsx": {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        }
      ]
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "styles": "./styles"
          }
        }
      ]
    ]
  }
  