{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {
            "modules": "commonjs"
          },
          "targets": {
            "browsers": ["last 2 versions", "chrome >= 39"]
          },
          "styled-jsx": {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        }
      ]
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "styles": "./styles"
          }
        }
      ]
    ]
  }
  