@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "variables";
@import "bootstrap/scss/bootstrap.scss";
@import "login";
@import "font-size";
@import "background-color";
@import "animation";
@import "header";
@import "nav-header";
@import "footer";
@import "provider";
@import "category";
@import "image";
@import "sidebar";
@import "service";
@import "static-page";

// @import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
// @import "nojs-menus.scss";