.bg-indigo{
	background-color: $indigo !important;
}
.bg-yellow-green{
	background-color: $yellow-green !important;
}
.bg-red{
	background-color: $red !important;
}
.bg-green{
	background-color: $green !important;
}
.bg-yellow-cream{
	background-color: $yellow-cream !important;
}
.bg-blue{
	background-color: $blue !important;
}
.bg-brown{
	background-color: $brown !important;
}
.bg-brown-100{
	background-color: $brown-100 !important;
}
.bg-yellow{
	background-color: $yellow !important;
}
.bg-purple{
	background-color: $purple !important;
}
.bg-red-100{
	background-color: $red-100 !important;
}
.bg-teal{
	background-color: $teal !important;
}
.bg-cyan{
	background-color: $cyan !important;
}
.bg-gray{
	background-color: $gray !important;
}
.bg-grey{
	background-color: $grey !important;
}
.bg-pink{
	background-color: $pink !important;
}
.text-yellow{
	color : $yellow !important;
}
.border-yellow{
	border: 1px solid $yellow !important;
}
.bg-blue-100{
	background-color: #f4f6f9 !important;
}
.bg-blue-200{
	background-color: $blue-200 !important;
}
.bg-purple-100{
	background-color: $purple-100 !important;
}
.provider-star{
	background-image:url('/static/images/star.png');
	background-size: cover;
}
.bg-black-100{
	background-color: #333333 !important;
}
.bg-orange{
	background-color: $orange !important;
}

.bg-yellow-white{
	background-color: $yellow-white !important;
}
