.footer {
	background-color: #f0f0f0;
	.logo{
		margin-bottom: 20px;
		float: left;
		width: 100%;
	}
	.about_widget p{
		font-size: 12px;
		color: #313131;
		line-height: 24px;
	}
	.about_widget>span {
		width: 100%;
		float: left;
		font-size: 12px;
		color: #313131;
		line-height: 30px;
	}
	.social {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.social a {
		float: left;
		margin-right: 14px;
		font-size: 20px;
		color: #313131;
	}
	.social a:hover {
		color: $primary;
	}
	.footer-title {
		font-size: 16px;
		margin: 0;
		margin-bottom: 0;
		margin-bottom: 30px;
		font-weight: 400 !important;
	}
	.link_widgets{
		float: left;
		width: 100%;
		a {
			position: relative;
			font-size: 14px;
			color: #313131;
			margin-bottom: 12px;
			padding-left: 24px;
			float: left;
			width: 100%;
			transition: 0.5s;
		}
		a:before {
			position: absolute;
			left: 0;
			top: 8px;
			width: 15px;
			height: 1px;
			content: "";
			background: #313131;
			transition: 0.5s;
		}
		a:hover {
			color: $primary!important;
			padding-left: 36px!important;
			//transition-duration: 0.5s;
		}
		a:hover:before {
			background: $primary;
			width: 27px;
			//transition-duration: 0.5s;
		}
	}
	.download_widget, .download_widget a {
		float: left;
		width: 100%;
		margin-bottom: 24px;

	}
	.bottom-line {
		float: left;
		width: 100%;
		text-align: center;
		background: #f3f3f3;
		padding: 10px 0;
		//border-top: solid 1px #e0e0e0;
		span {
			font-size: 13px;
			color: #313131;
			line-height: 24px;
		}
	}
}

.footer-content{
	font-size: 13px;
	padding: 0px !important;
	.about-footer-content{
		.breadcrumb{
			background: none !important;
			padding: 0px !important;
			a{
				color: $body-color !important;
				text-decoration:none;
			}
			.breadcrumb-item:hover a{
				color: black;
				font-weight:bold;
			}
		}
	}
}
.footer-menu{
	line-height: 10px;
	.footer-menu-title{
		a{
			color:$primary !important;
			font-size:14px !important;
		}
	}
	.footer-menu-title:hover a{
		color:$primary !important;
	}
	a{
		color:$body-color !important;
		text-decoration:none !important;
	}
	li:hover a{
		color:black !important;
		font-weight:bold !important;
	}
}
.social-links{
	a{
		position: relative;
		font-size: 14px;
		color: #313131 !important;
		margin-bottom: 14px;
		float: left;
		width: 100%;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
	span{
		margin-right: 10px;
		width: 15px;
	}
	a:hover{
		color: $primary!important;
	}
}
@include media-breakpoint-down(md) {
  .content-footer-info {
    padding:1.5rem !important;
  }
  .about-footer-content{
  	padding-left: 30px !important;
  }
}
@include media-breakpoint-down(sm) {
	.footer{
		.container{
			padding-top:0.25rem !important;
			padding-bottom: 0 !important;
		}
	}
	.footer-logo{
		padding-left: 15px !important;
	}
	.footer-menu{
		margin-bottom: 20px;
	}
  .widget h3{
	  display: inline-block;
	  font-size: 16px !important;
	  font-weight: 600 !important;
	  line-height: 1.25;
	  margin-bottom: 10px !important;
  }
	.link_widgets a{
		padding-left : 0 !important;
		margin-bottom: 10px !important;
		font-size: 13px !important;
		&:before{
			display:none !important;
		}
		&:hover{
			padding-left: 0 !important;
		}
	}
}