#lightbox {
  display: block;
}
#lbClose:hover {
  background-color: #333;
  cursor: pointer;
}
#lbActions{
  position: absolute;
  bottom: 16px;
  cursor: default;
  padding: 16px 8px;
  width: 100%;
  min-width: 520px;
  transition: opacity 250ms ease-out, bottom 250ms ease-out;
  opacity: 1;
  z-index: 5;
  display: none;
}
.btn.med{
  height: 40px;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 16px 8px;
}
#image-container:hover #lbActions{
  display: block;
  transition: 1s;
}
.nav-link.active{
  border-bottom: none !important;
}
.progressive-image {
  /* position: relative; */
  /* height: 100%; */
  /* overflow: hidden; */
  position: inherit !important;
}
.progressive-image-main{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-out;
  transform: translateZ(0);
  -webkit-transform-origin: 50% 50% 0px;
  transform-origin: 50% 50% 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  background: center / contain no-repeat;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.btn-primary:hover{
  color: white !important;
}
.media-content a{
  font-weight: 400 !important;
}
.media-content p {
  line-height: 25px;
}
.content-detail h2{
  font-weight: 400 !important;
}
.lbInfoTab .nav-item i{
  font-size: 23px !important;
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
#lbClose i{
  position: absolute;
  font-size: 33px !important;
  top: 6px;
  right: 8px;
}
.lbClose {
  width: 45px;
  height: 46px;
  line-height: 35px;
  background-color: #666;
  top: 0;
  right: 0;
  position: absolute;
}
.lbClose:hover {
  background: black !important;
}
.lbClose:before, .lbClose:after {
  position: absolute;
  left: 23px;
  content: ' ';
  top: 8px;
  height: 28px;
  width: 2px;
  background-color: white;
}
.lbClose:before {
  transform: rotate(45deg);
}
.lbClose:after {
  transform: rotate(-45deg);
}
#readMoreText {
  height:100px;
}
.content-detail h2{
  font-weight: 600 !important;
}
#category-detail .modal-content {
    display: inline-block;
    text-align: center;
    width: 628px;
  }
  
  .poster-avatar{
    width: 70px;
    height: 70px;
  }
  .comment-avatar{
    width: 40px;
    height: 40px;
  }
  .modal-dialog,.modal-grid{
    cursor: pointer;
  }
  .modal-close {
    opacity: 1;
    color: black;
    border:none !important;
    padding: 5px 8px;
    top: 15px;
    right: 55px;
    z-index:1032;
  }
  .download{
    font-size: 12px !important;
  }
  .modal-download{
    line-height: 200%;
    color:gray !important;
  }
  .image-content{
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
  .autoDesc{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
    font-size: 15px;
    color: #333333;
    font-weight:lighter;
  }
  .view-user-actions{
    padding-top: 15px;
    .base-button{
      display: inline-block;
      zoom: 1;
      text-align: initial;
      padding: 2px 10px;
      border: 1px solid #ababab;
      background: #fff;
      cursor: pointer;
      border-radius: 3px;
      margin-right:0.5rem;
      &:hover{
        background-color: #f4f4f4;
      }
      .button-icon{
        float: left;
        cursor: pointer;
        color:  #999;
      }
      .button-label{
        margin-left: 5px;
        font-weight: normal;
        color: #999;
        font-size: 13px;
      }
      .button-counter{
        border-left: 1px solid #d9dadb;
        margin-left: 5px;
        padding-left: 5px;
        color: #888;
        font-weight: normal;
      }
    }
  }
  .image-content-details{
    .image-title{
      margin: 15px 0;
      line-height: 1.2;
      font-size:25px;
      color: #333333;
    }
    .image-shortdes{
      font-size: 14px;
      color: #333333;
      line-height: 1.3rem;
    }
    .image-list{
      margin: 0 !important;
      .key{
        float: left;
        clear: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #333;
        margin-top: 4px;
      }
      .value{
        padding-bottom: 0;
        margin-left:3rem;
        a{
          color: #333;
          &:hover{
            color: $primary;
          }
        }
      }
    }
  }
  .relate{
    margin-top: 35px;
    .relate-title{
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
    span:hover{
      background-color: #943c82 !important;
      color: white !important;
    }
  }
  .image-sidebar{
    .image-recommended{
      &:last-child{
        border-bottom: none;
      }
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 15px;
      .sidebar-header{
        line-height: 1.1rem;
        margin-bottom: 15px;
        margin-top: 15px;
        .title{
          font-size:15px !important;
          color:#333333;
          font-weight: bold;
        }
      }
      .image-grid{
        clear: both;
        overflow: hidden;
        margin: 0 0 -6px -6px;
        .card{
  
        }
      }
      .promotion-product,.same-title{
        .white-card{
          width: 31% !important;
        }
      }
      .same-project{
        .white-card{
          width: 22%;
          float: left;
          margin-right: 1.5%;
        }
      }
    }
  }
  .white-card{
    width: 100%;
    margin-bottom: 10px;
    background: white;
    position: relative;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: visible;
    a{
      display: block;
    }
    .price{
      font-weight: 500;
      font-size: 13px;
  
    }
    a.white-title{
      display: block;
      max-height: 2rem;
      line-height: 1rem;
      overflow: hidden;
      font-size: 14px;
      color: #333333;
      text-decoration: none;
      font-weight: lighter;
    }
  
  }
  .image-grid img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height:auto;
  }
  
  
  // Readmore
  
  #readMore{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  
  .readMoreWrapper{
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
  }
  
  #readMoreText{
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding: 0 0 20px;
    position: relative;
    color: #333 !important;
    font-weight: normal !important;
    background-color: white;
    p , span{
      line-height: 23px !important;
    }
  }
  
  .readMoreGradient {
    width: 100%;
    height: 50px;
    //background: #fff;
    background: -webkit-linear-gradient(rgba(255,255,255,0),#fff);
    background: linear-gradient(rgba(255,255,255,0),#fff);
    position: absolute;
    bottom: 0px;
  }
  
  #readMoreBtn {
    background-color: #fff;
    color: $primary;
    padding: 0px 8px;
    /* text-align: left; */
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 0;
    float: left;
    font-size: 13px;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  
  #readMoreBtn:hover, #readMoreBtn:focus{
    color: $primary !important;
  }
  
  @include media-breakpoint-down(sm){
    .main-image{
      width: 100%;
      overflow: hidden !important;
      display: block;
      #lightbox {
        position: relative !important;
        width: 100%;
        overflow: hidden !important;
        z-index: 11111111087;
        top: 0 !important;
        left: 0;
        width: 100%;
        display: block;
      }
      #image-container{
        position: relative;
        height: 400px !important;
        /* min-height: 50% !important; */
        background-color: #f4f4f4;
        z-index: 11111111;
        width: 100%;
      }
      .lbInfo {
        position: relative !important;
        width: 100% !important;
        .content-scroll {
          position: relative !important;
        }
      }
    }
    .image-seo{
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-top: 5px !important;
      .image-seo-content{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        a.link{
          visibility: hidden !important;
          pointer-events:none;
        }
        button.show-modal{
          visibility: visible !important;
          pointer-events:auto;
        }
        #myModal{
          z-index: 11111111111 !important;
          .modal-dialog{
            margin: 0 !important;
            height:100%;
          }
          .modal-content{
            background: #000 !important;
            margin: 0 !important;
            height: 100%;
            border-radius: 0 !important;
            a{
              background: #000 !important;
            }
            img{
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              max-width: 100%;
              max-height: 80%;
              transition: all .2s;
              transform: scale(1) translate(0px, 0px);
              touch-action: none;
              user-select: none;
              -webkit-user-drag: none;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
      .media-body{
        padding-left : 0 !important;
        margin-top: 0 !important;
        a{
          font-weight: 700 !important;
        }
      }
      .image-recommended {
        width: 95%;
        margin-top: 0 !important;
        margin-left: 0 !important;
        .image-grid{
          overflow: scroll !important;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
          display: block!important;
          .white-card{
            float:none !important;
            width: 130px !important;
            height: 130px !important;
            img{
              height: 130px !important;
            }
          }
        }
      }
      .image-content-details{
        .image-title{
          font-size: 18px !important;
          font-weight: 700 !important;
        }
        .image-shortdes{
          font-size: 15px !important;
        }
      }
    }
    #lbActions{
      position: fixed !important;
      bottom: 0 !important;
      display: block;
      border: 1px solid #d6d6d6;
      background-color: #ffffff;
      border-left: none;
      border-right: none;
      padding: 0 !important;
    }
    #lbActions{
      min-width: 100% !important;
      #lbActionCenter{
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: left !important;
      }
      .btn.med {
        height: 50px !important;
        font-size: 15px !important;
        line-height: 26px !important;
        padding: 0px 9px !important;
        width: 50%;
        border-radius: 0 !important;
      }
    }
  
    #lbMainControls{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 11111111111;
      a{
        color: red !important;
      }
    }
    #lightbox{
      .media-body{
        padding-left: 0.25rem !important;
        margin-top: 0 !important;
        .media-content a{
          font-weight: 700 !important;
          font-size: 15px !important;
        }
      }
      #readMoreBtn {
       font-size: 15px !important;
      }
    }
    .content-detail{
      h2{
        font-weight: 700 !important;
        font-size: 15px !important;
        a{
          font-weight: 700 !important;
          font-size: 15px !important;
        }
      }
    }
  }