.provider-list .media{
    border: 1px solid #e8e8e8 !important;
    .media-header {
        display: flex;
        .logo {
            width: 45px;
            height: 45px;
        }
    }
    img {
        width: 100%;
        height: auto;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition-duration: .5s;
    }
    .media-title{
        a{
            font-size: 20px !important;
            font-weight: 600;
        }
        &:hover > a {
            color : $primary !important;
        }
        p{
            font-weight: lighter !important;
            font-size: 14px !important;
            color: #333;
            margin-bottom: 0px !important;
        }
    }
    .media-content{
        .pro-info{
            .info{
                font-size : 14px !important;
                color : #6f7293;
                i{
                    color: $primary !important;
                    margin-right: 5px;
                }
            }
        }
        .text {
            position: relative;
            font-weight: lighter !important;
            font-size: 14px;
            color: #333;
            width: 100%; /* Could be anything you like. */
          }
          
          .text-concat {
            position: relative;
            display: inline-block;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 2.9em;
            line-height: 1.5em;
            text-align: justify;
          }
          
          .text.ellipsis::after {
            content: "...";
            position: absolute;
            right: -13px;
            bottom: 5px;
          }
    }
}
.provider-list{
    .project-list{
        li{
            &:hover{
                box-shadow: 0 3px 3px 3px rgba(0,0,0,.3);
                cursor : pointer;
            }
            float: left;
            background: #808080;
            margin-right: 0.75rem;
            transition: .3s;
            cursor: pointer;
            max-height: 100% !important;
            width: 33%;
            min-height: 155px !important;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}
  