.banner{
  height: 361px;
}
.sidebar-count{
  font-size: 30px !important;
}
.btn-outline-primary:hover {
  color: $primary !important;
}
    .gradient-animate{
      height: 100px; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        bottom: 0;
        z-index: 0;
    }
    .disable {
      color: #ddd!important;
  }
  .fa-star {
      color: #fc0;
  }
.comment .avatar-user{
    height: 50px;
    width: 50px;
  }
  .rating-number{
    top: 52px;
    /* z-index: 1000; */
    left: 57px;
  }
  .evaluate{
    line-height: 30px;
  }
  .user-interactive{
    right: 0;
    bottom: 0;
  }
  .provider-star {
    background-image: url(/static/images/star.png) !important;
    background-size: cover;
  }
  .comment-body{
    height: auto;
    min-height: 80px !important;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    padding: 8px 18px 8px 6px;
    font-size: 16px;
    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    /*word-break: break-word;*/
  }
  .provider{
    .grid__item,
    .grid__col-sizer {
      width: 24.2%;
    }
    .grid__gutter-sizer {
      width: 1%;
    }
  }
  .comment-container img{
    width: 60px;
    height: 60px;
  }
  .reply-comment{
    cursor: pointer;
  }
  .user-review{
    min-height: 50px;
  }
  .provider-contact{
    overflow: hidden !important;
  }
  .provider-contact li{
    margin-bottom: 8px;
    padding:0 22px;
    position: relative;
    i{
      left: 0;
      position: absolute;
      top: 3px;
    }
  }
  
  .provider-nav {
    height: 50px;
    line-height: 34px;
  }
  
  .pagi_desktop{
    margin-top: 10px;
    ul{
      list-style: outside none none;
      margin: 0;
      padding: 0;
    }
    ul.pagination{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      li{
        float: left;
        font-family: helvetica-ttf , Sans-Serif !important;
        font-size: 12px;
        margin: 0 5px 0 0;
        .page-link{
          padding: 7px 11px;
          height: 35px;
          background: #fff none repeat scroll 0 0;
          -webkit-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          float: left;
          font-family: helvetica-ttf , Sans-Serif !important;
          padding: 3px 13px;
          text-decoration: none;
          border: 3px solid #edeff7;
          padding: 9px 15px;
          font-size: 14px;
          color: #000;
          border-radius: 30px;
          height: 41px;
        }
        &.active .page-link,& .page-link:hover {
          color: white;
          background-color: $primary;
          border-color: $primary;
  
        }
        &.page-item.active .page-link{
          -webkit-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          float: left;
          font-family: helvetica-ttf , Sans-Serif !important;
          padding: 3px 13px;
          text-decoration: none;
          border: 3px solid #edeff7;
          padding: 9px 15px;
          font-size: 14px;
          color: white;
          border-radius: 30px;
          height: 41px;
        }
      }
    }
    .page-item.disabled{
      opacity: .5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  
  .provider-details{
    .banner{
      max-height: 290px;
      height: 290px;
      position: relative;
      overflow: hidden;
      image{
        position: absolute;
        height: 100% !important;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .project{
      width: 100%;
      height: 300px;
    img{
      object-fit: cover;
      object-position: center center;
    }
  }
  .provider-avatar {
    width: 165px;
    height: 165px;
    top: -127px;
    border: 1px solid #d3d3d3;
    left: 20px;
    background: white;
  }
  .provider-info{
    bottom: 4rem;
    left: 13rem;
    z-index: 1;
  }
  .provider-more{
    bottom: 5rem;
    right: 5rem;
    z-index: 1;
  }
  
  .images-project{
    width: 550px !important;
    min-height: 250px;
  }
  .images-project img{
    width: 100%;
    height: auto;
  }
  .project-title{
    font-weight: bold;
    font-size: 12px !important;
    text-transform: uppercase;
  }
  .project-list ul{
    line-height: 20px !important;
  }
  .project-list ul li{
    margin-bottom: 10px;
  }
  .project-list a{
    font-family: Roboto-Light !important;
    font-size: 12px !important;
  }
  .project-list li:hover a{
    color : #b953a4 !important;
  }
  .project-content{
    height: 235px !important;
  }
  .social-button span{
    width: 21px;
    height: 21px;
    font-size: 18px !important;
    margin-left: 6px;
  }
  .action-button span{
    font-size: 14px !important;
  }
  .icon-text{
    font-size: 12px;
  }
  .provider-details .nav-link {
    color: #666 !important;
    padding: 0.5rem 1.5rem !important;
  }
  .provider-details .nav-item:hover a{
    color: #b953a4 !important;
  }
  .provider-details .nav-tabs .active{
    color: #b953a4 !important;
  }
  .provider-details .nav-tabs .active:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 12%;
    background: #b953a5;
    height: 3px;
    width: 75%;
  }
  
  .provider-details .nav-tabs .active a{
    font-weight: bold !important;
    color: #b953a4 !important;
  }
  .provider-contact span,.provider-contact a{
    color: #333333 !important;
    font-weight: normal;
  }
  .provider-about h1{
    font-size: 25px !important;
    font-weight: lighter !important;
    color: #000000 !important;
  }
  .provider-about .about p,span{
    font-size: 13px !important;
  }
  .about{
    .media-content{
      span{
        font-size: 14px !important;
        line-height: 1.3 !important;
      }
    }
  }
  .provider-about ul{
    list-style: none;
    span,a{
      font-size: 13px !important;
      color: #333 !important;
      font-weight: normal;
    }
    img{
      margin: 0 auto !important;
      text-align: center;
    }
  }
  
  .provider-project{
    .project-more {
      background: rgba(0,0,0,0.3);
      width: 98%;
      padding-top: 40%;
  }
    background: #ffffff !important;
    .first-image{
      border-top-left-radius: 0.25rem !important;
      -webkit-border-top-left-radius: 0.25rem !important;
      -moz-border-top-left-radius: 0.25rem !important;
      -khtml-border-top-left-radius: 0.25rem !important;
    }
    .second-image{
      border-top-right-radius: 0.25rem !important;
      -webkit-border-top-right-radius: 0.25rem !important;
      -moz-border-top-right-radius: 0.25rem !important;
      -khtml-border-top-right-radius: 0.25rem !important;
      height: 49% !important;
      img{
        border-top-right-radius: 0.25rem !important;
        -webkit-border-top-right-radius: 0.25rem !important;
        -moz-border-top-right-radius: 0.25rem !important;
        -khtml-border-top-right-radius: 0.25rem !important;
      }
    }
    .third-image{
      bottom: 0 !important;
      height: 50% !important;
    }
    .right-avatar{
      width: 98%;
    }
  }
  .provider-project:hover{
    cursor: pointer;
    //background: #dddddd !important;
    box-shadow: rgba(0,0,0,.25) 0 1px 10px, rgba(0,0,0,.1) 0 0 1px;
  }
  
  .provider-moreinfo{
    display: inline-block;
    clear: both;
    overflow: hidden;
    .left-info{
      width: 75%;
      display: block;
      border-top: 1px solid #e2e2e2;
      padding-top: 10px;
    }
    .right-info{
      width: 38%;
      float: right;
      display: block;
    }
  }
  
  .info-special{
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 5px !important;
    i{
      font-size: 20px;
      top: 6px !important;
    }
    span{
      font-size: 20px !important;
    }
  }
  .provider-sidebar{
    .provider-statistic{
      h3{
        margin-bottom: 5px !important;
      }
    }
    .sidebar-label{
      color: #888 !important;
      margin-bottom: 5px !important;
    }
  }
  .provider-contact{
    .social {
      float: left;
      width: 100%;
    }
    .social a {
      float: left;
      margin-right: 8px;
      padding: 5px 5px;
      background: #d2d6dc;
      border-radius: 50%;
      font-size: 14px;
      color: white !important;
      width: 25px;
      height: 25px;
      &:hover{
        background: $primary;
        color: white;
      }
    }
    .social a:hover {
      color: $primary;
    }
  }
  .project-image{
  
    .background-hover{
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.0);
      transition: .2s;
    }
    .project-action{
      bottom: 20px;
      position: absolute;
      left: 45%;
      button{
        display: none;
      }
    }
  }
  @include media-breakpoint-up(sm){
    .idea-content{
      .project-image:hover img{
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        transition: .2s;
        opacity: .8;
      }
      .project-image:hover button{
        display: block !important;
      }
    }
  }
  @include media-breakpoint-only(xs){
    .provider-avatar{
      width: 80px !important;
      height: 80px !important;
      top: -105px !important;
    }
    .provider-details .banner{
      height: 185px !important;
    }
    .banner img{
      height: 100% !important;
    }
    .provider-info {
      bottom: 4rem;
      left: 7rem;
      z-index: 1;
      h1{
        font-size: 18px !important;
        font-weight: 700 !important;
      }
      p{
        font-size: 18px !important;
        font-weight: 700 !important;
      }
    }
    .provider-about{
      .about{
        padding-left: 0!important;
        padding-right: 0!important;
        #readMoreText{
          p,span{
            text-align: left !important;
            font-size : 15px !important;
          }
        }
      }
    }
    .provider-contact{
      span , a{
        font-size: 15px !important;
      }
    }
    #myTab.nav{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: block !important;
      li{
        display: inline-block;
        color: white;
        text-align: center;
      }
    }
    .provider-details .nav-tabs .active:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 12%;
      background: white;
      height: 3px;
      width: 75%;
    }
    .provider-nav {
      height: 45px !important;
      line-height: 34px;
    }
    .provider-main{
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    #sidebar {
      max-width: 100% !important;
      margin-top: -0.5rem !important;
      border-top:none !important;
    }
    .left-info{
      float:left !important;
      width: 100% !important;
      .project-image{
        padding-right: 10px !important;
      }
    }
    .project{
      height:200px !important;
    }
    .provider-project
    {
      .project-des{
        margin-top: 0.25rem !important;
        line-height: 25px !important;
      }
      .right-avatar {
        width: 97% !important;
      }
    }
    .review-content{
      border : none !important;
      padding: 0 !important;
      img{
        max-width: 95% !important;
      }
      .evaluate{
        padding: 0 !important;
        margin-left: 10px !important;
      }
    }
    .rating-number {
      top: 27% !important;
      left: 35% !important;
      font-size: 25px !important;
    }
    .project-detail{
      margin-top: 0px !important;
      h1{
        font-size: 18px !important;
      }
      
      p{
        font-size: 15px !important;
      }
      .idea-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .project-image{
        margin-top: 1rem !important;
        max-width : 100% !important;
        img{
          width: 100% !important;
        }
      }
      li{
        margin-bottom: 1rem !important;
      }
      .media-body{
        padding-left: 0 !important;
        margin-top: 0.5rem !important;
        h2{
          font-size: 18px !important;
          margin-bottom: 0 !important;
          a{
            font-size:18px !important;
          }
        }
      }
      .about .media-content span {
        font-size: 15px !important;
      }
    }
    .project-more {
      padding-top: 30% !important;
    }
    .project-mobile-action{
      .btn.med{
        margin: 0 auto;
        height: 35px !important;
        width: 100%;
        font-size: 15px !important;
        line-height: 26px !important;
        padding: 0px 85px !important;
      }
    }
  }
  .idea-content .about{
    line-height: 9px !important;
    p{line-height: 1.1rem !important;}
  }

@import "styles/provider-list";