.provider-list .media{
    border: 1px solid #e8e8e8 !important;

    .media-header {
        display: flex;
        .logo {
            width: 45px;
            height: 45px;
            flex: 0 0 45px;
        }
    }
    img {
        width: 100%;
        height: auto;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition-duration: .5s;
    }
    .media-title{
        a{
            font-size: 20px !important;
            font-weight: 600;
        }
        &:hover > a {
            color : $primary !important;
        }
        p{
            font-weight: lighter !important;
            font-size: 14px !important;
            color: #333;
            margin-bottom: 0px !important;
        }
    }
    .media-content{
        .pro-info{
            .info{
                font-size : 14px !important;
                color : #6f7293;
                i{
                    color: $primary !important;
                    margin-right: 5px;
                }
            }
        }
        .text {
            position: relative;
            font-weight: lighter !important;
            font-size: 14px;
            color: #333;
            width: 100%; /* Could be anything you like. */
          }
          
          .text-concat {
            position: relative;
            display: inline-block;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 2.9em;
            line-height: 1.5em;
            text-align: justify;
          }
          
          .text.ellipsis::after {
            content: "...";
            position: absolute;
            right: -13px;
            bottom: 5px;
          }
    }
}
.provider-list{
    .child-sidebar-service{
        ul li:nth-child(n+5) {
            display: block !important;
        }
        .loadmore {
            display: none !important;
        }
        border-bottom: none;
        .widget {
            h3 {
                font-size: 16px !important;
            }
        }
    }
    .project-list{
        li{
            &:hover{
                box-shadow: 0 3px 3px 3px rgba(0,0,0,.3);
                cursor : pointer;
            }
            float: left;
            background: #BDBDBD;
            margin-right: 0.75rem;
            transition: .3s;
            cursor: pointer;
            height: 155px !important;
            width: 33%;
            min-height: 155px !important;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

@include media-breakpoint-down(md){
    .media{
        .media-body{
            padding-left: 0 !important;
        }
    }
    .provider-list
    {
        #sidebar{
            padding-left: 0 !important;
            padding-right: 0 !important;
            .sidebar-service{
                margin-left:0 !important;
            }
        }

        .provider-main{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .project-list {
            display: block !important;
            li {
                width: 29% !important;
                margin-top: 0.5rem;
                margin-right: 0.9rem;
                min-height: 100px !important;
                height: 100px !important;
            }
        }
        .pagi_desktop ul.pagination li .page-link{
            font-size: 13px !important;
        }
    }
}