
$blue:    #3baac6 !default;
$blue-200:    #4c91c7 !default;
$indigo:  #664cc7 !default;
$purple:  #b953a4 !default;
$purple-100 : #c74cae !default;
$pink:    #e83e8c !default;
$red:     #f33b3b !default;
$red-100: #c74c4c !default;
$orange:  #ff9900 !default;
$yellow:  #ffcc00 !default;
$green:   #00a888 !default;
$teal:    #47be84 !default;
$cyan:    #4cb1c7 !default;
$gray:    #dddddd !default;
$grey:    #a9a9a9 !default;
$yellow-cream:    #ffffcc !default;
$brown-100:    #663300 !default;
$brown:    #996633 !default;
$gray-100:  #f3f3f3 !default;
$yellow-green: #bdc74c !default;
$yellow-white: #fcffde !default;
$primary: $purple;

//$body-bg:                   $white !default;
$body-color:                #333333;

$black: #111;

// Main Color
$primary-hover-color: #943c82;

$pagination-color: #cccccc;
//@font-face {
//    font-family: helvetica-ttf;
//    src:url('/fonts/TTF/helveticaneue.ttf');
//    font-style: normal;
//    font-weight: 300;
//  }